server:
  port: 8888
spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/ucsal/config-server-ms-java.git
          search-paths: "account-service"


